@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main {
    padding: 5% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.curriculo h2 {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    margin: 20px 0;
}

.curriculo p, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;

}